<?xml version="1.0"?>
<ArrayOfLightSetting>
  <LightSetting>
    <Room>Kök</Room>
    <Lampa>Matbord</Lampa>
    <Addresses>
      <LightAddress>
        <Address>1/1/8</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/1/9</Address>
        <OnValue>1</OnValue>
      </LightAddress>
    </Addresses>
    <StatusAddress>1/1/9</StatusAddress>
  </LightSetting>
  <LightSetting>
    <Room>Kök</Room>
    <Lampa>Vitrin</Lampa>
    <Addresses>
      <LightAddress>
        <Address>1/0/2</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/0/3</Address>
        <OnValue>1</OnValue>
      </LightAddress>
    </Addresses>
    <StatusAddress>1/0/3</StatusAddress>
  </LightSetting>
  <LightSetting>
    <Room>Kök</Room>
    <Lampa>Spotlights</Lampa>
    <Addresses>
      <LightAddress>
        <Address>1/0/6</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/0/7</Address>
        <OnValue>1</OnValue>
      </LightAddress>
    </Addresses>
    <StatusAddress>1/0/7</StatusAddress>
  </LightSetting>
  <LightSetting>
    <Room>Kök</Room>
    <Lampa>Köksö</Lampa>
    <Addresses>
      <LightAddress>
        <Address>1/1/12</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/1/13</Address>
        <OnValue>1</OnValue>
      </LightAddress>
    </Addresses>
    <StatusAddress>1/1/13</StatusAddress>
  </LightSetting>
  <LightSetting>
    <Room>Hall</Room>
    <Lampa>Vägg</Lampa>
    <Addresses>
      <LightAddress>
        <Address>1/2/5</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/2/8</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/2/9</Address>
        <OnValue>255</OnValue>
      </LightAddress>
    </Addresses>
    <StatusAddress>1/2/8</StatusAddress>
  </LightSetting>
  <LightSetting>
    <Room>Hall</Room>
    <Lampa>Tak</Lampa>
    <Addresses>
      <LightAddress>
        <Address>1/2/10</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/2/13</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/2/14</Address>
        <OnValue>255</OnValue>
      </LightAddress>
    </Addresses>
    <StatusAddress>1/2/13</StatusAddress>
  </LightSetting>
  <LightSetting>
    <Room>Sovrumskorridor</Room>
    <Lampa>Takspotlights</Lampa>
    <Addresses>
      <LightAddress>
        <Address>1/2/25</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/2/28</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/2/29</Address>
        <OnValue>255</OnValue>
      </LightAddress>
    </Addresses>
    <StatusAddress>1/2/28</StatusAddress>
  </LightSetting>
  <LightSetting>
    <Room>Hall</Room>
    <Lampa>Garderobsspotlights</Lampa>
    <Addresses>
      <LightAddress>
        <Address>1/2/15</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/2/18</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/2/19</Address>
        <OnValue>255</OnValue>
      </LightAddress>
    </Addresses>
    <StatusAddress>1/2/18</StatusAddress>
  </LightSetting>
  <LightSetting>
    <Room>Utebelysning</Room>
    <Lampa>Stolpar framsida</Lampa>
    <Addresses>
      <LightAddress>
        <Address>1/0/22</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/0/23</Address>
        <OnValue>1</OnValue>
      </LightAddress>
    </Addresses>
    <StatusAddress>1/0/23</StatusAddress>
  </LightSetting>
  <LightSetting>
    <Room>Vardagsrum</Room>
    <Lampa>Tak</Lampa>
    <Addresses>
      <LightAddress>
        <Address>1/1/4</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/1/5</Address>
        <OnValue>1</OnValue>
      </LightAddress>
    </Addresses>
    <StatusAddress>1/1/4</StatusAddress>
  </LightSetting>
  <LightSetting>
    <Room>Vardagsrum</Room>
    <Lampa>Vägg</Lampa>
    <Addresses>
      <LightAddress>
        <Address>1/2/0</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/2/3</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/2/4</Address>
        <OnValue>255</OnValue>
      </LightAddress>
    </Addresses>
    <StatusAddress>1/2/3</StatusAddress>
  </LightSetting>
  <LightSetting>
    <Room>Vardagsrum</Room>
    <Lampa>Golvlampor</Lampa>
    <Addresses>
      <LightAddress>
        <Address>2/0/0</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>2/0/1</Address>
        <OnValue>1</OnValue>
      </LightAddress>
    </Addresses>
    <StatusAddress>2/0/1</StatusAddress>
  </LightSetting>
  <LightSetting>
    <Room>Vardagsrum</Room>
    <Lampa>Fönster (julstjärnor)</Lampa>
    <Addresses>
      <LightAddress>
        <Address>3/1/5</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/0/1</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/0/27</Address>
        <OnValue>255</OnValue>
      </LightAddress>
    </Addresses>
    <StatusAddress>1/0/1</StatusAddress>
  </LightSetting>
  <LightSetting>
    <Room>Lekrum</Room>
    <Lampa>Vägg</Lampa>
    <Addresses>
      <LightAddress>
        <Address>1/2/20</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/2/23</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/2/24</Address>
        <OnValue>255</OnValue>
      </LightAddress>
    </Addresses>
    <StatusAddress>1/2/23</StatusAddress>
  </LightSetting>
  <LightSetting>
    <Room>Lekrum</Room>
    <Lampa>Tak</Lampa>
    <Addresses>
      <LightAddress>
        <Address>1/1/0</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/1/1</Address>
        <OnValue>1</OnValue>
      </LightAddress>
    </Addresses>
    <StatusAddress>1/1/1</StatusAddress>
  </LightSetting>
  <LightSetting>
    <Room>Lekrum</Room>
    <Lampa>Golvlampor</Lampa>
    <Addresses>
      <LightAddress>
        <Address>2/0/2</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>2/0/3</Address>
        <OnValue>1</OnValue>
      </LightAddress>
    </Addresses>
    <StatusAddress>2/0/3</StatusAddress>
  </LightSetting>
  <LightSetting>
    <Room>Utebelysning</Room>
    <Lampa>Ytterdörr</Lampa>
    <Addresses>
      <LightAddress>
        <Address>1/0/12</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/0/13</Address>
        <OnValue>1</OnValue>
      </LightAddress>
    </Addresses>
    <StatusAddress>1/0/13</StatusAddress>
  </LightSetting>
  <LightSetting>
    <Room>Utebelysning</Room>
    <Lampa>Fasad framsida</Lampa>
    <Addresses>
      <LightAddress>
        <Address>1/0/14</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/0/15</Address>
        <OnValue>1</OnValue>
      </LightAddress>
    </Addresses>
    <StatusAddress>1/0/15</StatusAddress>
  </LightSetting>
  <LightSetting>
    <Room>Utebelysning</Room>
    <Lampa>Fasad garage</Lampa>
    <Addresses>
      <LightAddress>
        <Address>1/0/18</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/0/19</Address>
        <OnValue>1</OnValue>
      </LightAddress>
    </Addresses>
    <StatusAddress>1/0/19</StatusAddress>
  </LightSetting>
  <LightSetting>
    <Room>Arbetsrum</Room>
    <Lampa>Taklampa</Lampa>
    <Addresses>
      <LightAddress>
        <Address>1/0/8</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/0/9</Address>
        <OnValue>1</OnValue>
      </LightAddress>
    </Addresses>
    <StatusAddress>1/0/9</StatusAddress>
  </LightSetting>
  <LightSetting>
    <Room>Kök</Room>
    <Lampa>Bänk</Lampa>
    <Addresses>
      <LightAddress>
        <Address>1/0/4</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/0/5</Address>
        <OnValue>1</OnValue>
      </LightAddress>
    </Addresses>
    <StatusAddress>1/0/5</StatusAddress>
  </LightSetting>
  <LightSetting>
    <Room>Utebelysning</Room>
    <Lampa>Fasad baksida</Lampa>
    <Addresses>
      <LightAddress>
        <Address>1/0/16</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/0/17</Address>
        <OnValue>1</OnValue>
      </LightAddress>
    </Addresses>
    <StatusAddress>1/0/17</StatusAddress>
  </LightSetting>
  <LightSetting>
    <Room>Utebelysning</Room>
    <Lampa>Terass</Lampa>
    <Addresses>
      <LightAddress>
        <Address>1/0/10</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/0/11</Address>
        <OnValue>1</OnValue>
      </LightAddress>
    </Addresses>
    <StatusAddress>1/0/11</StatusAddress>
  </LightSetting>
  <LightSetting>
    <Room>Utebelysning</Room>
    <Lampa>Eluttag terasstak</Lampa>
    <Addresses>
      <LightAddress>
        <Address>1/0/20</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/0/21</Address>
        <OnValue>1</OnValue>
      </LightAddress>
    </Addresses>
    <CanTurnOn>false</CanTurnOn>
    <StatusAddress>1/0/21</StatusAddress>
  </LightSetting>
  <LightSetting>
    <Room>Utebelysning</Room>
    <Lampa>Bakgård</Lampa>
    <Addresses>
      <LightAddress>
        <Address>1/0/24</Address>
        <OnValue>1</OnValue>
      </LightAddress>
      <LightAddress>
        <Address>1/0/25</Address>
        <OnValue>1</OnValue>
      </LightAddress>
    </Addresses>
    <StatusAddress>1/0/25</StatusAddress>
  </LightSetting>
</ArrayOfLightSetting>