
@{
    ViewBag.Title = "Analysis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div id="chart-container" class="block-center">
        <img src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/ajax-loader.gif" />
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-11 col-md-11 col-lg-11">
        <form>
            <div class="checkbox">
                <label class="input-lg"><input type="checkbox" class="dataseries" value="Utetemperatur" data-db="Nibe" />Utetemperatur</label>
                <label class="input-lg"><input type="checkbox" class="dataseries" value="Arbetsrum" data-db="Roth" />Arbetsrum</label>
                <label class="input-lg"><input type="checkbox" class="dataseries" value="ArbetsrumSetting" data-db="Roth" />Arbetsrum inst</label>
                <label class="input-lg"><input type="checkbox" class="dataseries" value="Vardagsrum" data-db="Roth" />Vardagsrum</label>
                <label class="input-lg"><input type="checkbox" class="dataseries" value="VardagsrumSetting" data-db="Roth" />Vardagsrum inst</label>
                <label class="input-lg"><input type="checkbox" class="dataseries" value="Hallen" data-db="Roth" />Hallen</label>
                <label class="input-lg"><input type="checkbox" class="dataseries" value="HallenSetting" data-db="Roth" />Hallen inst</label>
                <label class="input-lg"><input type="checkbox" class="dataseries" value="Lekrum" data-db="Roth" />Lekrum</label>
                <label class="input-lg"><input type="checkbox" class="dataseries" value="LekrumSetting" data-db="Roth" />Lekrum inst</label>
                <label class="input-lg"><input type="checkbox" class="dataseries" value="MammasPappas" data-db="Roth" />Mammas o Pappas</label>
                <label class="input-lg"><input type="checkbox" class="dataseries" value="MammasPappasSetting" data-db="Roth" />Mamma o Pappas inst</label>
                <label class="input-lg"><input type="checkbox" class="dataseries" value="Viggo" data-db="Roth" />Viggos rum</label>
                <label class="input-lg"><input type="checkbox" class="dataseries" value="ViggoSetting" data-db="Roth" />Viggos rum inst</label>
                <label class="input-lg"><input type="checkbox" class="dataseries" value="Felix" data-db="Roth" />Felix rum</label>
                <label class="input-lg"><input type="checkbox" class="dataseries" value="FelixSetting" data-db="Roth" />Felix rum inst</label>
                <hr />
                <label class="input-lg"><input type="checkbox" class="dataseries" value="Kompressorstarter" data-db="Nibe" data-removeConsecutiveValues="false" data-plottype="column" />Kompressorstarter</label>
                <label class="input-lg"><input type="checkbox" class="dataseries" value="KompressorDifttid" data-db="Nibe" data-removeConsecutiveValues="false" data-plottype="column" />Kompressor drifttid</label>
                <label class="input-lg"><input type="checkbox" class="dataseries" value="KompressorDrifttidVarme" data-db="Nibe" data-removeConsecutiveValues="false" data-plottype="column" />Kompressor drifttid värme</label>
                <label class="input-lg"><input type="checkbox" class="dataseries" value="KompressorDrifttidVarmvatten" data-db="Nibe" data-removeConsecutiveValues="false" data-plottype="column" />Kompressor drifttid varmvatten</label>
                <label class="input-lg"><input type="checkbox" class="dataseries" value="InneFramledningstemp" data-db="Nibe" />Framledningstemp</label>
                <label class="input-lg"><input type="checkbox" class="dataseries" value="InneReturtemp" data-db="Nibe" />Returtemp</label>
                <label class="input-lg"><input type="checkbox" class="dataseries" value="InneBeräknadFramledningstemp" data-db="Nibe" />Beräknad framledningstemp</label>
                <label class="input-lg"><input type="checkbox" class="dataseries" value="GarageFramledningstemp" data-db="Nibe" />Garage framledningstemp</label>
                <label class="input-lg"><input type="checkbox" class="dataseries" value="GarageReturtemp" data-db="Nibe" />Garage returtemp</label>
                <label class="input-lg"><input type="checkbox" class="dataseries" value="GarageBeräknadFramledningstemp" data-db="Nibe" />Garage beräknad framledningstemp</label>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-11 col-md-11 col-lg-11">
        <div class="btn-group">
            <a class="settimespan btn btn-default" href="#" data-timespan="3600">60 min</a>
            <a class="settimespan btn btn-default" href="#" data-timespan="86400">24 h</a>
            <a class="settimespan btn btn-default" href="#" data-timespan="259200">3 d</a>
            <a class="settimespan btn btn-default active" href="#" data-timespan="604800">7 d</a>
            <a class="settimespan btn btn-default" href="#" data-timespan="1209600">14 d</a>
            <a class="settimespan btn btn-default" href="#" data-timespan="2592000">30 d</a>
            <a class="settimespan btn btn-default" href="#" data-timespan="7776000">3 mån</a>
            <a class="settimespan btn btn-default" href="#" data-timespan="15552000">6 mån</a>
            <a class="settimespan btn btn-default" href="#" data-timespan="31536000">12 mån</a>
        </div>
    </div>
</div>

<script src="http://code.highcharts.com/4/highcharts.js"></script>
@*<script src="http://code.highcharts.com/4/modules/exporting.js"></script>*@
<script type="text/javascript">

    var timespan = 604800;

    $(".settimespan").click(function () {
        var selected = $(this);
        var newtimespan = selected.attr("data-timespan");
        timespan = newtimespan;

        $(".settimespan").removeClass("active");
        selected.addClass("active");

        var chart = $('#chart-container').highcharts();
        while (chart.series.length > 0)
            chart.series[0].remove(true);

        chart.colorCounter = 0;

        $(".dataseries:checked").each(function () {
            var checkbox = $(this);
            var database = checkbox.attr("data-db");
            var field = checkbox.val();
            var removeConsecutiveValues = checkbox.attr("data-removeConsecutiveValues");
            var plottype = checkbox.attr("data-plottype");

            addSeries(database, field, removeConsecutiveValues, plottype);
        });

        return false;
    });


    $(".dataseries").change(function () {
        var checkbox = $(this);
        var database = checkbox.attr("data-db");
        var field = checkbox.val();

        if ($(this).is(":checked")) {
            var removeConsecutiveValues = checkbox.attr("data-removeConsecutiveValues");
            var plottype = checkbox.attr("data-plottype");
            addSeries(database, field, removeConsecutiveValues, plottype);
        }
        else {
            var chart = $('#chart-container').highcharts();

            for (var i = 0; i < chart.series.length; i++)
                if (chart.series[i].options.id == database + "-" + field) {
                    chart.series[i].remove(true);
                    chart.colorCounter--;
                    break;
                }

        }

    });

    var url = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "Data",
              action = "GetTimestampValues" })';

    function addSeries(database, field, removeConsecutiveValues, plotType) {
        if (typeof removeConsecutiveValues === "undefined")
            removeConsecutiveValues = true;
        if (typeof plotType === "undefined")
            plotType = "spline";

        $.getJSON(url, {
            databaseName: database,
            field: field,
            secondOffset: timespan,
            removeConsecutiveValues: removeConsecutiveValues
        }, function (data) {
            var chart = $('#chart-container').highcharts();
            chart.addSeries({
                name: field,
                data: data,
                type: plotType,
                id: database + "-" + field
            });
        });
    }

    function initializeChart() {

        var chartOptions = {
            title: {
                text: ''
            },
            chart: {
                zoomType: $(window).width() < 750 ? 'none ' : 'x',
                pinchType: 'none'
            },
            xAxis: {
                type: 'datetime',
                title: {
                    text: 'Datum'
                }
            }
        };
        // draw the chart
        $("#chart-container").highcharts(chartOptions);

        var checkbox = $(".dataseries").first()
        var database = checkbox.attr("data-db");
        var field = checkbox.val();
        checkbox.prop('checked', true);
        addSeries(database, field);

    }

    initializeChart();


</script>
