@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Temperatur";
}


<div class="row">
    <div class="col-md-12">
        <h3>Temperatur</h3>
        <h4>Just nu: <mark id="current-temp"></mark> &deg; C</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <iframe width="600" height="260" class="chart" id="temperature" style="border: 1px solid #cccccc;"
                src=""></iframe>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-xs-2" style="margin-top:12px;">Tid: </div>
    <div class="col-md-9 col-xs-9">
        <div class="btn-group">
            <a class="settime btn btn-default settime-60" href="#" onclick="setData(60)">60 min</a>
            <a class="settime btn btn-default settime-1440" href="#" onclick="setData(1440)">24 h</a>
            <a class="settime btn btn-default settime-10080" href="#" onclick="setData(10080)">7 d</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Fuktighet</h3>
        <h4>Just nu: <mark id="current-hum"></mark> %</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <iframe width="600" height="260" class="chart" id="humidity" style="border: 1px solid #cccccc;"
                src=""></iframe>
    </div>
</div>
<script type="text/javascript">
    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    function zerofill(number, length) {
        // Setup
        var result = number.toString();
        var pad = length - result.length;

        while (pad > 0) {
            result = '0' + result;
            pad--;
        }

        return result;
    }

    $(window).resize(function (event) {
        setData(0);
    });

    var timedifference = 1440;
    var timeParam = getUrlVars()["timestart"];
    if (timeParam > 0) {
        timedifference = timeParam;
    }

    var lastTimeDifference = 0;
    var lastWidth = 0;

    setData(timedifference);

    function setData(timedifference) {

        var maxwidth = 800;
        var width = $(window).width() - 30;
        if (width > maxwidth)
            width = maxwidth;

        if (timedifference == 0)
            timedifference = lastTimeDifference

        if (width == lastWidth && timedifference == lastTimeDifference)
            return;

        //$("#info").text("timediff:" + timedifference + " lasttimediff:" + lastTimeDifference + " width:" + width + " lastwidth:" + lastWidth);

        lastWidth = width;
        lastTimeDifference = timedifference;

        $(".settime").removeClass("active");
        var settimelink = ".settime-" + timedifference;
        $(settimelink).addClass("active");

        //Minuter till millisekunder
        timedifference = timedifference * 60 * 1000;

        $.getJSON("http://api.thingspeak.com/channels/58794/feed/last.json?key=TDJ5MB9BR7URASCE", function (data) {
            $("#current-temp").text(data.field1);
            $("#current-hum").text(data.field2);
        })

        var height = Math.round(width * 0.6);

        var temperatureurl = 'https://api.thingspeak.com/channels/58794/charts/1?width={width}&height={height}&results=8000&dynamic=false&title=Temperatur&key=TDJ5MB9BR7URASCE&max=40&min=-10';
        var humidityurl = 'https://api.thingspeak.com/channels/58794/charts/2?width={width}&height={height}&results=8000&dynamic=false&title=Fuktighet&key=TDJ5MB9BR7URASCE&max=100&min=0';

        temperatureurl = temperatureurl.replace('{height}', height);
        temperatureurl = temperatureurl.replace('{width}', width);
        humidityurl = humidityurl.replace('{height}', height);
        humidityurl = humidityurl.replace('{width}', width);

        $(".chart").attr('width', width);
        $(".chart").attr('height', height);


        var starttime = new Date();
        starttime.setTime(starttime.getTime() - timedifference);
        var start = "&start=" + starttime.getUTCFullYear().toString() + "-" + zerofill(starttime.getUTCMonth() + 1, 2) + "-"
            + zerofill(starttime.getUTCDate(), 2) + "%20" + zerofill(starttime.getUTCHours(), 2)
            + ":" + zerofill(starttime.getUTCMinutes(), 2) + ":00"

        temperatureurl = temperatureurl + start;
        humidityurl = humidityurl + start;

        $("#temperature").attr('src', temperatureurl);
        $("#humidity").attr('src', humidityurl);

        return false;
    }
</script>